.com-fail {
  z-index: 1;
}
.com-loading {
  z-index: 1;
}
.ivu-message {
  color: #000 !important;
}
.ivu-date-picker-cells-cell {
  color: #000; 
}
.ivu-date-picker-header {
  color: #000;
}
.ivu-select-single .ivu-select-selection {
  background: transparent;
}
.ivu-select-dropdown {
  background-color: cornflowerblue !important;
}
@media screen and (max-width: 1280px) {
  .ui-tip .tip_box_right {
    width: 126px;
  }
}